  ul {
      list-style-type:none;
      margin:  0;
      padding: 0;
      overflow: hidden;
      background-color: #0099ff;
      position: sticky;
  }
  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    background-color:#0099ff
  }
  li a:hover {
    background-color: #66ccff;
  }
  .active {
    background-color: #ffffff;
  }
  body {
    background-color: #4d0000;
      color: white;

  }
    h2 {
        font-size:60px;
  }
    h1 {
    font-family:"Roboto",sans-serif;
  }
    p,h2 {
   font-family:"Noto Sans"
   }
  .sticky {
    position: fixed;
    top: 0;
    width: 100%
  }
  .sticky + .content {
    padding-top: 60px
  }
