  ul {
      list-style-type:none;
      margin:  0;
      padding: 0;
      overflow: hidden;
      background-color: #0099ff;
      position: sticky;
  }
  li {
    float: left;
    font-family: "Helvetica Neue";
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    background-color:#0099ff
  }
  li a:hover {
    background-color: #66ccff;
  }
  .active {
    background-color: #ffffff;
  }
  body {
    background-color: #4d0000;
      color: white;

  }
    h2 {
        font-size:60px;
  }
    h1 {
    font-family:"Roboto",sans-serif;
    text-align:center;
  }
    p,h2 {
   font-family:"Noto Sans"
   }
  .sticky {
    position: fixed;
    top: 0;
    width: 100%
  }
  .sticky + .content {
    padding-top: 60px
  }
  p {
    text-align:center;
  }
  .center {
    text-align:center;
  }
a[href^="mailto"] {
  color: #66ccff;
}
  .camptitle {
    Border: 10px solid #6600cc;
    background: #cc66ff;
    border-radius: 5px;
    color: #ffccff;
  }

/*style buttons */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/*add background color to the clicked button */

.active, .accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
/*need to change font */
.campinfo {
  color: black;
  font-family: "Helvetica Neue";
  font-size: 1.17em;

}
.date {
  color: #ffff00;
}
